# Ignore everything
*

# Exclude folders from above rule
!**/

# Block previously allowed folders
**/build/
**/node_modules/
**/cache/
**/.vite/

# Exclude source files
!*.ts
!*.tsx
!index.html
!*.css
!eslint.config.js
!*.jpg

# Etc
!*.svg
!*.json
!*.sh
!*.md
!*.yml
!*.ttf
!Dockerfile
!.gitignore
!LICENSE
